<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Novatron">
    <link rel="icon" href="../assets/images/icon.png">

    <title>Novatron Rehberim</title>

    <!-- Custom styles for this template -->
    <link href="../resources/alphabet.css" rel="stylesheet">
  </head>
  <body>
    <header id="header-box">
      <h1 id="header-text" class="text">Novatron Rehberim</h1>
      <h1 id="header-page" class="text">Alfabe</h1>
      <img id="logo" src="../assets/images/transparent_icon3.png" alt="Novatron">
    </header>

    <div id="container">
      <div id="box">
        <div id="input-box">
          <p id="input-lbl" class="text">Harfinizi giriniz:</p>
          <select name="groups" id="groups">
          <select name="group1" id="group1">
            <option value="a">A</option>
            <option value="n">N</option>
            <option value="e">E</option>
            <option value="t">T</option>
            <option value="i">İ</option>
            <option value="l">L</option>
          <select name="group2" id="group2">
            <option value="o">O</option>
            <option value="k">K</option>
            <option value="u">U</option>
            <option value="r">R</option>
            <option value="ı">I</option>
            <option value="m">M</option>
          <select name="group3" id="group3">
            <option value="ü">Ü</option>
            <option value="d">S</option>
            <option value="ö">Ö</option>
            <option value="y">Y</option>
            <option value="d">D</option>
            <option value="z">Z</option>
          <select name="group4" id="group4">
            <option value="ç">Ç</option>
            <option value="b">B</option>
            <option value="g">G</option>
            <option value="c">C</option>
            <option value="ş">Ş</option>
          <select name="group5" id="group5">
            <option value="p">P</option>
            <option value="h">H</option>
            <option value="v">V</option>
            <option value="ğ">Ğ</option>
            <option value="g">F</option>
            <option value="j">J</option>
          </select>
          <div id="buttons">
            <button id="create-story-btn" class="text">Öykü Yaz</button>
            <button id="clear-story-btn" class="text">Ekranı Sil</button>
          </div>
        </div>
        <div id="display" readonly>
          TEST
        </div>
      </div>
    </div>
  </body>
</html>