<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Novatron">
    <link rel="icon" href="../assets/images/icon.png">

    <title>Novatron Rehberim</title>

    <!-- Custom styles for this template -->
    <link href="../resources/styles.css" rel="stylesheet">
  </head>

  <body>
    <header id="header-box">
        <h1 id="header-text">Novatron Rehberim</h1>
        <h1 id="header-page">Ana Sayfa</h1>
        <img id="logo" src="../assets/images/transparent_icon3.png" alt="Novatron">
    </header>

    <div id="container">
      <div id ="buttons">
        <a href="localhost:8080/novatronrehberim/ask">
          <button class="btn" id="alphabet-btn">Alfabe</button>
        </a>
        <a href="localhost:8080/novatronrehberim/math">
          <button class="btn" id="math-btn">Matematik</button>
        </a>
        <a href="localhost:8080/novatronrehberim/jobs">
          <button class="btn" id="job-btn">Meslek</button>
        </a>
        </a>
      </div>
    </div>
  </body>
</html>