body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    background-color: hsl(0, 0%, 90%);
}

#header-box {
    display: flex;
    min-width: 100vw;
    height: 8vh;
    align-items: center;
    background-color: #2b3b5e;
}

#header-text {
    font-family: Arial, sans-serif;
    width: 100%;
    font-size: 2rem;
    padding-left: 10px;
    color: white;
    font-weight: bold;
}

#header-page {
    position: absolute;
    font-family: Arial, sand-serif;
    width: 100%;
    font-size: 2rem;
    color: white;
    text-align: center;
}

#logo {
    max-width: 90px;
    max-height: 90px;
}